/* montserrat-regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../src/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }

  /* montserrat-medium */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../../src/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

/* montserrat-medium-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../../src/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

/* caveatbrush-regular */
@font-face {
  font-family: 'CaveatBrush';
  font-style: normal;
  font-weight: 400;
  src: url('../../src/fonts/CaveatBrush/CaveatBrush-Regular.ttf') format('truetype');
}

