<!--About-->
<section class="about">
  <div class="container">
    <div class="about__container">
      <h2 id="anchor1" class="about__title title">About us</h2>
      <p class="about__text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to
        create sophisticated donuts which will save the world!
      </p>
      <p class="about__text about__text--center">
        Eva has been baking since she was six years old and over the last 49
        years, she has created hundreds of cakes for weddings and has baked for
        many celebrities. Eva and our shop have received multiple awards &
        recognition for excellence.
      </p>
      <span class="text-more" data-text-more>
        <p class="about__text about__text--last">
          We are going to teach you how to cook with passion and sparkles in
          your eyes! We love what we do and believe you will enjoy our cooking
          atmosphere!
        </p>
      </span>
      <button class="about__btn btn__read" data-button>
        <span class="btn__read-more">Read more</span>
        <span class="btn__read-less">Less</span>
      </button>
    </div>
  </div>
</section>
