<footer class="footer">
  <div class="container">
    <!--контейнер_запитання-->
    <div class="footer_contact">
      <a name="contacts">
        <h2 class="footer_title">Contact</h2>
      </a>
      <p class="footer_text">We will answer any question!</p>
      <input type="email" name="user_mail" class="footer_form_input" placeholder="Email" required />
      <input type="text"
        name="user_message"
        class="footer_question"
        placeholder="Type your question" />
      <button type="submit" class="button footer_btn">Send</button>
    </div>
    <!--соц-мережі-->
    <div>
      <ul class="list social_list social_list--footer">
        <li class="social_item">
          <a class="social_item__link" href="" rel="noopener noreferrer">
            <svg class="social_item__icon">
             <use href="/images/sprite/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a class="social_item__link" href="" rel="noopener noreferrer">
            <svg class="social_item__icon">
              <use href="/images/sprite/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a class="social_item__link" href="" rel="noopener noreferrer">
            <svg class="social_item__icon">
              <use href="/images/sprite/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!--телефон_і_адреса-->
      <ul class="list footer_adress_list">
        <li class="footer_adress_box">
          <a class="footer_adress" href="tel:(910)222-8855" rel="noopener noreferrer">
            <svg class="footer_adress__icon">
              <use href="/images/sprite/sprite.svg#icon-telephone"></use>
            </svg>
            (910)222-8855</a>
        </li>
        <li class="footer_adress_box">
          <a class="footer_adress" target="_blank" href="https://goo.gl/maps/9EFvqwXmtGYHHLjb8" rel="noopener noreferrer">
            <svg class="footer_adress__icon">
              <use href="/images/sprite/sprite.svg#icon-location"></use>
            </svg>
            New York</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
