<footer class="footer">
  <div class="container">
    <div class="footer_contact">
      <h2 class="footer_title">Contact</h2>
      <p class="footer_text">We will answer any question!</p>
      <input type="email" name="user_mail" class="footer_form_input" placeholder="Email" required />
      <textarea
        name="user_message"
        class="footer_question"
        placeholder="Type your question"
      ></textarea>
      <button type="submit" class="button">Send</button>
    </div>
    <div>
          <ul class="list social_list">
      <li class="social_item">
        <a class="social_item__icon" href="">
          <svg>
            <use href="/images/sprite/sprite.svg#icon-twitter" rel="noopener noreferrer"></use>
          </svg>
        </a>
      </li>
      <li class="social_item">
        <a class="social_item__icon" href="">
          <svg>
            <use href="/images/sprite/sprite.svg#icon-instagram" rel="noopener noreferrer"></use>
          </svg>
        </a>
      </li>
      <li class="social_item">
        <a class="social_item__icon" href="">
          <svg>
            <use href="/images/sprite/sprite.svg#icon-facebook" rel="noopener noreferrer"></use>
          </svg>
        </a>
      </li>
    </ul>
      <ul class="footer_adress_list">
        <li class="footer_adress_box">
          <a class="footer_adress_tel" href="tel:(910)222-8855">(910)222-8855</a>
        </li>
        <li class="footer_adress_box">
          <a class="footer_adress_map" href="https://goo.gl/maps/9EFvqwXmtGYHHLjb8">New York</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
