<header class="header">
  <div class="container header header--logo-center">
    <picture>
      <source srcset="/images/desktop/logo/logo.png 1x, /images/desktop/logo/logo@2x.png 2x" media="(min-width: 1280px)"/>
      <source srcset="/images/tablet/logo/logo.png 1x, /images/tablet/logo/logo@2x.png 2x" media="(max-width: 1279.98px)"/>
      <img src="/images/desktop/logo/logo.png" alt="" />
    </picture>
    <ul class="list header_list">
      <li class="header_link"><a href="#about">About us</a></li>
      <li class="header_link"><a href="#program">Program</a></li>
      <li class="header_link"><a href="#reviews">Reviews</a></li>
      <li class="header_link"><a href="#contacts">Contacts</a></li>
    </ul>
    <button class="mobile-menu_button" data-menu-button>
      <svg width="30" height="16">
          <use class="mobile-menu_open" href="../src/images/sprite/sprite.svg#icon-menu"></use>
          <use class="mobile-menu_close" href="../src/images/sprite/sprite.svg#icon-menu-close"></use>
      </svg>
  </button>
</div>
<div class="mobile-menu" data-menu>
  <picture>
    <source srcset="/images/mobile/logo/menu_logo.png 1x, /images/mobile/logo/menu_logo@2x.png 2x" />
    <img src="/images/mobile/logo/menu_logo.png" alt="" />
  </picture>
  <ul class="list mobile-menu_list">
    <li class="mobile-menu_item"><a href="index.html#about">About us</a></li>
    <li class="mobile-menu_item"><a href="index.html#program">Program</a></li>
    <li class="mobile-menu_item"><a href="index.html#reviews">Reviews</a></li>
    <li class="mobile-menu_item"><a href="index.html#contacts">Contacts</a></li>
  </ul>
</div>