<div class="registration__image">
    <div class=" container registration__div ">
        <h2 id="registration" class="registration__title title ">Registration</h2>
        <div class="registration__laptop">
            <p class="registration__date">May 23, 11:00 <br>
                New York</p>
            <span class="registration__prise">$ 699</span>
        </div>

        <form id="registForm" action="" class="registration__form">
            <h3 class="registration__form-title">Apply your personal info
                for registration</h3>

            <input class="registration__form-input" type="text" id="username" name="name" required
                placeholder="Your name" class="registration__form-placeholder">
            <input class="registration__form-input" type="number" id="phone" name="phone" required
                placeholder="Phone number" class="registration__form-placeholder">
            <input class=" registration__form-input" type="email" id="email" name="email" value=" " required
                placeholder="Email" class="registration__form-placeholder">

        </form>
        <button id="registBtn" disabled="disabled" type="submit" class="registration__button button"
            value=" ">Register</button>

    </div>