<section class="reviews">
  <div class="container container-reviews">
    <h2 id="anchor3" class="reviews-title title">Reviews</h2>

    <ul class="reviews-list list">
      <li class="reviews-list__item">
        <article class="reviews-list__article">
          <div class="reviews-list__thumb-img">
            <picture class="slide-img">
              <source
                srcset="/images/rev/desk/john.png 1x, /images/rev/desk/john@2x.png 2x"
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/tab/john.png 1x, /images/rev/tab/john@2x.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/mob/john.png 1x, /images/rev/mob/john@2x.png 2x"
                media="(max-width: 767.98px)"
                type="image/png"
              />

              <img src="/images/rev/desk/john.png" alt="avatar john" width="234" />
            </picture>
          </div>
          <div class="reviews-list__thumb-stars">
            <svg class="slide-rate-stars">
              <use href="/images/sprite/sprite.svg#icon-rate-4stars"></use>
            </svg>
            <h3 class="slide-name">John</h3>
          </div>
        </article>
      </li>
      <li class="reviews-list__item">
        <article class="reviews-list__article">
          <div class="reviews-list__thumb-img">
            <picture class="slide-img">
              <source
                srcset="/images/rev/desk/will.png 1x, /images/rev/desk/will@2x.png 2x"
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/tab/will.png 1x, /images/rev/tab/will@2x.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/mob/will.png 1x, /images/rev/mob/will@2x.png 2x"
                media="(max-width: 767px)"
                type="image/png"
              />
              <img src="/images/rev/desk/will.png" alt="avatar will" width="234" />
            </picture>
          </div>
          <div class="reviews-list__thumb-stars">
            <svg class="slide-rate-stars">
              <use href="/images/sprite/sprite.svg#icon-rate-5stars"></use>
            </svg>
            <h3 class="slide-name">Will</h3>
          </div>
        </article>
      </li>
      <li class="reviews-list__item">
        <article class="reviews-list__article">
          <div class="reviews-list__thumb-img">
            <picture class="slide-img">
              <source
                srcset="/images/rev/desk/elisabeth.png 1x, /images/rev/desk/elisabeth@2x.png 2x"
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/tab/elisabeth.png 1x, /images/rev/tab/elisabeth@2x.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/mob/elisabeth.png 1x, /images/rev/mob/elisabeth@2x.png 2x"
                media="(max-width: 767px)"
                type="image/png"
               />
              <img src="/images/rev/desk/elisabeth.png" alt="avatar elisabeth" width="234" />
            </picture>
          </div>
          <div class="reviews-list__thumb-stars">
            <svg class="slide-rate-stars">
              <use href="/images/sprite/sprite.svg#icon-rate-5stars"></use>
            </svg>
            <h3 class="slide-name">Elisabeth</h3>
          </div>
        </article>
      </li>
      <li class="reviews-list__item">
        <article class="reviews-list__article">
          <div class="reviews-list__thumb-img">
            <picture class="slide-img">
              <source
                srcset="/images/rev/desk/kate.png 1x, /images/rev/desk/kate@2x.png 2x"
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/tab/kate.png 1x, /images/rev/tab/kate@2x.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="/images/rev/mob/kate.png 1x, /images/rev/mob/kate@2x.png 2x"
                media="(max-width: 767px)"
                type="image/png"
              />
              <img src="/images/rev/desk/kate.png" alt="avatar kate" width="234" />
            </picture>
          </div>
          <div class="reviews-list__thumb-stars">
            <svg class="slide-rate-stars">
              <use href="/images/sprite/sprite.svg#icon-rate-4stars"></use>
            </svg>
            <h3 class="slide-name">Kate</h3>
          </div>
        </article>
      </li>
      <li class="reviews-list__item">
        <article class="reviews-list__article">
          <div class="reviews-list__thumb-img">
            <picture class="slide-img">
              <source
                  srcset="/images/rev/desk/mike.png 1x, /images/rev/desk/mike@2x.png 2x"
                  media="(min-width: 1200px)"
                  type="image/png"
              />
              <source
                  srcset="/images/rev/tab/mike.png 1x, /images/rev/tab/mike@2x.png 2x"
                  media="(min-width: 768px)"
                  type="image/png"
              />
              <source
                  srcset="/images/rev/mob/mike.png 1x, /images/rev/mob/mike@2x.png 2x"
                  media="(max-width: 767px)"
                  type="image/png"
              />
              <img src="/images/rev/desk/mike.png" alt="avatar mike" width="234" />
            </picture>
          </div>
          <div class="reviews-list__thumb-stars">
            <svg class="slide-rate-stars">
              <use href="/images/sprite/sprite.svg#icon-rate-5stars"></use>
            </svg>
            <h3 class="slide-name">Mike</h3>
          </div>
        </article>
      </li>
    </ul>

    <ul class="reviews-text list">
      <li class="reviews-text__item">
        <p class="slide-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nam tempore eum, distinctio
          dolores aperiam assumenda consectetur ab quae cum nisi doloribus eligendi, ducimus maiores
          repudiandae minus amet sint cupiditate?
        </p>
      </li>
      <li class="reviews-text__item">
        <p class="slide-text">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </li>
      <li class="reviews-text__item">
        <p class="slide-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nam tempore eum, distinctio
          dolores aperiam assumenda consectetur ab quae cum nisi doloribus eligendi, ducimus maiores
          repudiandae minus amet sint cupiditate?
        </p>
      </li>
      <li class="reviews-text__item">
        <p class="slide-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nam tempore eum, distinctio
          dolores aperiam assumenda consectetur ab quae cum nisi doloribus eligendi, ducimus maiores
          repudiandae minus amet sint cupiditate?
        </p>
      </li>
      <li class="reviews-text__item">
        <p class="slide-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nam tempore eum, distinctio
          dolores aperiam assumenda consectetur ab quae cum nisi doloribus eligendi, ducimus maiores
          repudiandae minus amet sint cupiditate?
        </p>
      </li>
    </ul>
  </div>
</section>
