<section class="reviews">
    <div class="container">
        <h2 class="title">Reviews</h2>

        <ul class="reviews-list">
            <li class="reviews-item">
                <article class="slide">
                    <div class="slide-thumb-img">
                        <picture class="slide-img">
                            <source
                                srcset="./images/desktop/reviews/john.png 1x, ./images/desktop/reviews/john@2x.png 2x"
                                media="(min-width: 1200px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/tablet/reviews/john.png 1x, ./images/tablet/reviews/john@2x.png 2x"
                                media="(min-width: 768px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/mobile/reviews/john.png 1x, ./images/mobile/reviews/john@2x.png 2x"
                                media="(max-width: 767px)"
                                type="image/png"
                            />
                            <img src="./images/desktop/reviews/john.png" alt="avatar john" width="136" />
                        </picture>
                    </div>
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-rate-4stars"></use>
                    </svg>
                    <h3 class="slide-name">John</h3>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nam tempore eum, distinctio dolores aperiam assumenda consectetur ab quae cum nisi doloribus eligendi, ducimus maiores repudiandae minus amet sint cupiditate?</p>
                </article>
            </li>
            <li class="reviews-item">
                <article class="slide">
                    <div class="slide-thumb-img">
                        <picture class="slide-img">
                            <source
                                srcset="./images/desktop/reviews/will.png 1x, ./images/desktop/reviews/will@2x.png 2x"
                                media="(min-width: 1200px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/tablet/reviews/will.png 1x, ./images/tablet/reviews/will@2x.png 2x"
                                media="(min-width: 768px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/mobile/reviews/will.png 1x, ./images/mobile/reviews/will@2x.png 2x"
                                media="(max-width: 767px)"
                                type="image/png"
                            />
                            <img src="./images/desktop/reviews/will.png" alt="avatar john" width="234" />
                        </picture>
                    </div>
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-rate-5stars"></use>
                    </svg>
                    <h3 class="slide-name">Will</h3>
                    <p class="slide-text">Last time I have visited a cooking course by Eva 
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </article>
            </li>
            <li class="reviews-item">
                <article class="slide">
                    <div class="slide-thumb-img">
                        <picture class="slide-img">
                            <source
                                srcset="./images/desktop/reviews/elisabeth.png 1x, ./images/desktop/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 1200px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/tablet/reviews/elisabeth.png 1x, ./images/tablet/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 768px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/mobile/reviews/elisabeth.png 1x, ./images/mobile/reviews/elisabeth@2x.png 2x"
                                media="(max-width: 767px)"
                                type="image/png"
                            />
                            <img src="./images/desktop/reviews/elisabeth.png" alt="avatar john" width="136" />
                        </picture>
                    </div>
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-rate-5stars"></use>
                    </svg>
                    <h3 class="slide-name">Elisabeth</h3>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repellendus est aperiam magnam quibusdam, accusantium atque, neque deleniti veritatis obcaecati perspiciatis officiis asperiores velit exercitationem nisi. Vitae neque ut similique?</p>
                </article>
            </li>
            <li class="reviews-item">
                <article class="slide">
                    <div class="slide-thumb-img">
                        <picture class="slide-img">
                            <source
                                srcset="./images/desktop/reviews/elisabeth.png 1x, ./images/desktop/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 1200px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/tablet/reviews/elisabeth.png 1x, ./images/tablet/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 768px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/mobile/reviews/elisabeth.png 1x, ./images/mobile/reviews/elisabeth@2x.png 2x"
                                media="(max-width: 767px)"
                                type="image/png"
                            />
                            <img src="./images/desktop/reviews/elisabeth.png" alt="avatar john" width="136" />
                        </picture>
                    </div>
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-rate-5stars"></use>
                    </svg>
                    <h3 class="slide-name">Elisabeth</h3>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repellendus est aperiam magnam quibusdam, accusantium atque, neque deleniti veritatis obcaecati perspiciatis officiis asperiores velit exercitationem nisi. Vitae neque ut similique?</p>
                </article>
            </li>
            <li class="reviews-item">
                <article class="slide">
                    <div class="slide-thumb-img">
                        <picture class="slide-img">
                            <source
                                srcset="./images/desktop/reviews/elisabeth.png 1x, ./images/desktop/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 1200px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/tablet/reviews/elisabeth.png 1x, ./images/tablet/reviews/elisabeth@2x.png 2x"
                                media="(min-width: 768px)"
                                type="image/png"
                            />
                            <source
                                srcset="./images/mobile/reviews/elisabeth.png 1x, ./images/mobile/reviews/elisabeth@2x.png 2x"
                                media="(max-width: 767px)"
                                type="image/png"
                            />
                            <img src="./images/desktop/reviews/elisabeth.png" alt="avatar john" width="136" />
                        </picture>
                    </div>
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-rate-5stars"></use>
                    </svg>
                    <h3 class="slide-name">Elisabeth</h3>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repellendus est aperiam magnam quibusdam, accusantium atque, neque deleniti veritatis obcaecati perspiciatis officiis asperiores velit exercitationem nisi. Vitae neque ut similique?</p>
                </article>
            </li>
        </ul>

        <p>2/15</p>
    </div>
</section>