.social_list {
  display: flex;
}

// .social_item:not(:last-child) {
//   margin-right: 10px;
  
//   @media screen and (min-width: 1280px) {
//     margin-right: 12px;
//   }
// }

.social_item:last-child {
  margin-left: -5px;
}

.social_item__link {
  display: block;
  padding: 4.5px;
  
  @media screen and (min-width: 1280px) {
    padding: 6px;
    
  }
}

.social_item__icon {
  display: flex;
  width: 19px;
  height: 15px;
  
  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 20px;
  }

  .social_item__link:focus &, 
  .social_item__link:hover &{
    fill: var(--button-background-color);
  }
}

.social_list--hero {
  margin-bottom: 40.5px;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 26.5px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 59px;
  }
}

.social_list--footer {
  margin-bottom: 42.5px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 45.5px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 76px;
  }
}