.social_list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.social_item:last-child {
  margin-left: -5px;
}

.social_item__link {
  display: block;
  padding: 4.5px;
  
  @media screen and (min-width: 1280px) {
    padding: 6px;
    
  }
}

.social_item__icon {
  display: flex;
  width: 19px;
  height: 15px;
  
  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 20px;
  }

  .social_item__link:focus &, 
  .social_item__link:hover &{
    fill: var(--button-background-color);
  }
}

.social_list--hero {
  margin-top: 40.5px;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 26.5px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 59px;
  }
}

.social_list--footer {
  margin-top: 42.5px;
  
  @media screen and (min-width: 768px) {
    margin-top: 45.5px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 76px;
  }
}