.about__container {
  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    padding-top: 270px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    margin-left: auto;
    width: calc(100% / 2);
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 45px;
    width: calc(100% / 2 - 40px);
  }
}

.about__text:not(:last-child) {
  margin-bottom: 10px;
}

.about__foto {
  @media screen and (max-width: 767.98px) {
    width: 72px;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 82px;
    height: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 128px;
    height: 100%;
  }
}

// .about_img {
//   position: absolute;
//   @media screen and (max-width: 767.98px) {
//     top: 190px;
//     left: 110px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 82px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 128px;
//   }
// }
