.about__container {
  position: relative;

  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    padding-top: 270px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    justify-content: flex-end;
    margin-left: auto;
    width: calc(100% / 2);
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 45px;
    width: calc(100% / 2 - 60px);
  }
}

.about__text:not(:last-child) {
  margin-bottom: 10px;
}
