.about__container {
  position: relative;

  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    padding-top: 270px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    justify-content: flex-end;
    margin-left: auto;
    width: calc(100% / 2);
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 45px;
    width: calc(100% / 2 - 60px);
  }
}

.about__title {
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about__text {
  margin-bottom: 0;
}

.about__text--center {
  padding-top: 10px;
}

@media screen and (max-width: 1280px) {
  .about__text--last {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text--last {
    padding-top: 10px;
  }
}
