/* Header */
.header {
  display: flex;
  align-items: center;
  padding-top: 15px;

  @media screen and (max-width: 767.98px) {
    padding-top: 5px;
  }
}

@media screen and (max-width: 767.98px) {
  .header--logo-center {
    justify-content: center;
  }
}

.header > picture {
  @media screen and (min-width: 1280px) {
    margin-right: 40px;
  }
}

.header_list {
  display: flex;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.header_link {
  & > a {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:focus {
      color: var(--menu-link-current-text-color);
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.mobile-menu_list {
  margin-top: 40px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.mobile-menu_item {
  & > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--menu-link-current-text-color);
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.header_img {
  position: absolute;
  top: 0;
  right: 0;
}

/*.main-nav {
   display: none;
}*/
