.header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;

  @media screen and (max-width: 767.98px) {
    padding-top: 5px;
  }
}

@media screen and (max-width: 767.98px) {
  .header--logo-center {
    justify-content: center;
  }
}

.header > picture {
  @media screen and (min-width: 1280px) {
    margin-right: 40px;
  }
}

.header_list {
  display: flex;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.header_link {
  & > a {
    color: currentColor;
    text-decoration: none;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.mobile-menu_list {
  margin-top: 40px;
}

.mobile-menu_item {
  & > a {
    color: currentColor;
    text-decoration: none;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.header_img {
  position: absolute;
  top: 0;
  right: 0;
}
